.logo {
  /* background-image: url("Logo.png");
   */
  user-select: none; /* Ngăn không cho chọn văn bản */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  cursor: pointer; /* Ngăn tất cả sự kiện chuột */
}
.logo-img {
  box-shadow: 0px 12px 64px rgba(0, 0, 0, 0.06);
}
body {
  -webkit-touch-callout: none; /* Ngăn menu gọi điện trên thiết bị di động */
}
